<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        /* Optional: Add your custom styles here */
        body {
            padding-top: 56px;
            margin-bottom: 60px;
            /* Adjusted for fixed navbar */
        }

        .sidebar {
            position: fixed;
            top: 56px;
            /* Height of the fixed navbar */
            bottom: 0;
            left: 0;
            z-index: 1000;
            padding-top: 30px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #343a40;
            color: #fff;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        .main-content {
            margin-left: 250px;
            padding: 20px;
        }

        table {
            width: 100%;
            margin-bottom: 1rem;
            color: #343a40;
        }

        table th,
        table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            text-align: left;
        }

        th {
            background-color: #343a40;
            color: #fff;
        }

        tbody tr:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .btn-block {
            width: 100%;
        }

        form {
            top: 10px;
            max-width: 600px;
            margin: 0 auto;
        }

        table {
            top: 10px;
            width: 100%;
        }

        table tr {
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
        }

        input,
        textarea,
        select {
            width: 100%;
            padding: 8px;
            margin-top: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #image-preview img {
            max-width: 100px;
            max-height: 100px;
            margin: 5px;
        }

        .ul-class ul {
            list-style: none;
        }

        /* Responsive styles */
        @media (max-width: 768px) {
            .main-content {
                margin-left: 0;
            }

            .sidebar {
                position: fixed;
                top: 56px;
                bottom: 0;
                left: -250px;
                /* Hide the sidebar by default on smaller screens */
                z-index: 1000;
                padding-top: 150px;
                padding-left: 15px;
                padding-right: 15px;
                background-color: #343a40;
                color: #fff;
                transition: left 0.3s ease;
                /* Add smooth transition effect */
            }

            .sidebar.show {
                left: 0;
                /* Show the sidebar when the "show" class is added */
            }

            .navbar-toggler {
                display: block;
            }

            table {
                overflow-x: auto;
            }

            form {
                padding: 20px;
            }
        }
    </style>
    <script>
        // JavaScript to toggle the "show" class on the sidebar
        document.addEventListener("DOMContentLoaded", function () {
            var toggleButton = document.getElementById("sidebarToggle");
            var sidebar = document.querySelector(".sidebar");

            toggleButton.addEventListener("click", function () {
                sidebar.classList.toggle("show");
            });
        });
    </script>
    <title>Admin Dashboard</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Admin Dashboard</a>

            <button id="sidebarToggle" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <% if (locals.user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/adminlogout">
                                <i class="fas fa-sign-out-alt"></i> Sign Out
                            </a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link">
                                <i class="fas fa-user"></i>
                                <%= user %>
                            </span>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/adminlogin">
                                    <i class="fas fa-sign-in-alt"></i> Sign In
                                </a>
                            </li>
                            <% } %>
                </ul>
            </div>
        </nav>
    </header>

    <div class="sidebar">
        <h5>Menu</h5>
        <ul class="ul-class nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admindashboard">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/userslist">
                    <i class="fas fa-user"></i> Users
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/productlist">
                    <i class="fas fa-box"></i> Product
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/categorylist">
                    <i class="fas fa-tags"></i> Category
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-tags"></i> Order
                </a>

                <!-- Nested CanceledOrder Link -->
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/placedOrder">
                            <i class="fas fa-tags"></i> placedOrder
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/canceledOrder">
                            <i class="fas fa-tags"></i> CanceledOrder
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/returenedOrder">
                            <i class="fas fa-tags"></i> ReturnedOrder
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/couponList">
                    <i class="fas fa-tags"></i> Coupon
                </a>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <form action="/couponCreate" method="post" onsubmit="return validateForm()">
            <table>
                <tr>
                    <td><label for="couponCode">Coupon Code:</label></td>
                    <td>
                        <input type="text" id="couponCode" name="couponCode">
                        <span id="couponCodeErrorMessage" style="color: red;"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="couponPercentage">Coupon Percentage:</label></td>
                    <td>
                        <input type="text" id="couponPercentage" name="couponPercentage">
                        <span id="couponPercentageErrorMessage" style="color: red;"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="couponType">Coupon Type:</label></td>
                    <td>
                        <select id="couponType" name="couponType">
                            <option value="Type" selected>Select Type</option>
                            <option value="Product offer">Product offer</option>
                            <option value="Category offer">Category offer</option>
                            <option value="Referral offer">Referral offer</option>
                        </select>
                        <span id="couponTypeErrorMessage" style="color: red;"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="couponValidity">Coupon Validity:</label></td>
                    <td>
                        <input type="date" id="couponValidity" name="couponValidity">
                        <span id="couponValidityErrorMessage" style="color: red;"></span>
                        <% if (locals.Message) { %>
                            <span style="color: red;">
                                <%= Message %>
                            </span>
    </div>
    <% } %>
        </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button type="submit">Upload</button>
            </td>
        </tr>
        </table>
        </form>

        </div>

        <footer class="footer">
            <div class="container">
                <p>&copy; 2023 Your Company. All rights reserved.</p>
            </div>
        </footer>

        <script>
            function validateForm() {
                var couponCode = document.getElementById('couponCode').value;
                var couponPercentage = document.getElementById('couponPercentage').value;
                var couponType = document.getElementById('couponType').value;
                var couponValidity = document.getElementById('couponValidity').value;
                var status = true;

                if (couponCode.trim() === '') {
                    document.getElementById('couponCodeErrorMessage').innerText = 'Please enter a Coupon Code.';
                    status = false;
                } else {
                    document.getElementById('couponCodeErrorMessage').innerText = '';
                }

                if (couponPercentage === '' || isNaN(couponPercentage) || couponPercentage < 0) {
                    document.getElementById('couponPercentageErrorMessage').innerText = 'Please enter a valid positive Coupon Percentage.';
                    status = false;
                } else if (couponPercentage > 50) {
                    document.getElementById('couponPercentageErrorMessage').innerText = 'Coupon Percentage should be less than 50.';
                    status = false;
                } else {
                    document.getElementById('couponPercentageErrorMessage').innerText = '';
                }

                if (couponType === 'Type') {
                    document.getElementById('couponTypeErrorMessage').innerText = 'Please select a valid Coupon Type.';
                    status = false;
                } else {
                    document.getElementById('couponTypeErrorMessage').innerText = '';
                }

                if (couponValidity.trim() === '') {
                    document.getElementById('couponValidityErrorMessage').innerText = 'Please enter a Coupon Validity.';
                    status = false;
                } else {
                    document.getElementById('couponValidityErrorMessage').innerText = '';
                }

                return status;
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>